html{
  scroll-behavior: smooth;
}

.best-seller {
  padding: 100px 5%;
  position: relative;
  background: #fff;
  display: none;
  margin-top: -50px;
  z-index: 6;
  transition: all 0.6s ease-out;
  pointer-events: none;
}

.best-seller.Open{
  pointer-events: auto;
  display: block;
  animation: slideIn 0.6s ease-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.section-header {
  display: flex;
  align-items: center;
  gap : 22px;
  margin-bottom: 40px;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 700;
  color: #d62323;
}

.section-header a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 14px;
}

.product-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  align-items: end;
}

.product-card {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.product-card img{
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  transform: rotate(-12deg);
  filter: drop-shadow(0 25px 35px rgba(0,0,0,0.2));
  transition: 0.3s;
}

.product-card:hover img{
  transform: rotate(0deg) scale(1.05);
}

.rating {
  color: #ff9d00;
  font-size: 12px;
  margin:15px 0 10px;
}

.product-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.arrow-small{
  color: #d62323;
  font-size: 14px;
}

.price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 6px ;
}

.special-card {
background: #ef2d2d;
border-radius: 80px 80px 20px 80px;
padding: 50px 30px;
color: #fff;
position: relative;
text-align: left;
min-width: 440px;
display: flex;
flex-direction: column;
justify-content: flex-end;
overflow: visible;
}

.SALMON-TERIYAKI-IMG0 {
width: 240px !important;
position: absolute;
top: -80px;
left: 50%;
transform: translateX(-50%);
filter: drop-shadow(0 35px 50px rgba(0,0,0,0.4));
}

.special-content{
  margin-top: 140px;
}

.explore-button {
  background: #ffd600;
  border: none;
  padding: 12px 25px;
  border-radius: 50px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.explore-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

#best-seller {
    scroll-margin-top: 50px;
}

